certifi==2020.4.5.2
chardet==3.0.4
cycler==0.10.0
dominate==2.3.1
future==0.18.2
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.5
opencv-python==4.2.0.34
Pillow==8.2.0
pkg-resources==0.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
threadpoolctl==2.1.0
torch==0.4.1
torchfile==0.1.0
torchvision==0.2.2
tornado==6.0.4
tqdm==4.19.9
urllib3==1.25.9
visdom==0.1.8.3
websocket-client==0.57.0
yacs==0.1.7
